{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block body %}
    <!-- Slider -->
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/slider/slider01.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider02.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider03.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Latest courses -->
    <main class="container">
        <section>
            <h2 class="my-5">Nos dernières formations</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img alt="" src="http://placehold.it/1000X400" style="height: 200px; width: 100%">
                        <div class="card-body">
                            <h5 class="card-title">Formation 01</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Voir plus...</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img alt="" src="http://placehold.it/1000X400" style="height: 200px; width: 100%">
                        <div class="card-body">
                            <h5 class="card-title">Formation 02</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Voir plus...</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img alt="" src="http://placehold.it/1000X400" style="height: 200px; width: 100%">
                        <div class="card-body">
                            <h5 class="card-title">Formation 03</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Voir plus...</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Latest courses -->

        <!-- Latest news -->
        <div class="section">
            <h2 class="my-5">Nos dernières actualités</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="media my-3 shadow-sm p-3 mb-5 bg-white rounded">
                        <img alt="" class="float-left mr-3" src="http://placehold.it/100X100">
                        <div class="media-body">
                            <h5 class="mt-0">Actualité 01 - 07/10/2019</h5>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
                                faucibus.</p>
                            <a href="" class="float-right">Lire plus...</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="media my-3 shadow-sm p-3 mb-5 bg-white rounded">
                        <img alt="" class="float-left mr-3" src="http://placehold.it/100X100">
                        <div class="media-body">
                            <h5 class="mt-0">Actualité 02 - 10/10/2019</h5>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
                                faucibus.</p>
                            <a href="" class="float-right">Lire plus...</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="media my-3 shadow-sm p-3 mb-5 bg-white rounded">
                        <img alt="" class="float-left mr-3" src="http://placehold.it/100X100">
                        <div class="media-body">
                            <h5 class="mt-0">Actualité 02 - 10/10/2019</h5>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
                                faucibus.</p>
                            <a href="" class="float-right">Lire plus...</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="media my-3 shadow-sm p-3 mb-5 bg-white rounded">
                        <img alt="" class="float-left mr-3" src="http://placehold.it/100X100">
                        <div class="media-body">
                            <h5 class="mt-0">Actualité 02 - 10/10/2019</h5>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
                                faucibus.</p>
                            <a href="" class="float-right">Lire plus...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Latest news -->

        <!-- Cool Links -->
        <section>
            <h2 class="my-5">Informations importantes</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-shadow text-dark mb-3">
                        <div class="card-header text-center text-primary">HORAIRES</div>
                        <div class="card-body">
                            <h4 class="card-title">Horaires de 2019-2020</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card border-shadow text-dark mb-3">
                        <div class="card-header text-center text-primary">INFORMATIONS</div>
                        <div class="card-body">
                            <h4 class="card-title">Scéance d'informations</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card border-shadow text-dark mb-3">
                        <div class="card-header text-center text-primary">INSCRIPTION</div>
                        <div class="card-body">
                            <h4 class="card-title">Documents d'inscription</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Cool Links -->
    </main>

{% endblock %}
